@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background-image: url(Media/fundo-madeira.jpg);
    background-size: cover;
}

main {
    height: 100vh;
    position: relative;
}

section#iphone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 300px;
    background-image: url(Media/iphone.png);
    background-size: cover;
}

iframe#tela {
    position: relative;
    top: 10px;
    left: 60px;
    width: 210px;
    height: 460px;
    border-radius: 20px;
}

section#redes-sociais > a > img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

section#redes-sociais img:hover {
    border: 2px solid white;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0,0, 0, 0.5);
    transition: transform .3s, border 1s;
}